[Desktop Entry]
GenericName=Gustav's Fairyland
GenericName[de]=Gustavs Märchenwelt
GenericName[en_GB]=Gustav's Fairyland
Name=Gustav's Fairyland
Name[de]=Gustavs Märchenwelt
Name[en_GB]=Gustav's Fairyland
Exec=fairytale %U
Icon=utilities-file-archiver
Type=Application
Terminal=false
Categories=Game;
